.title-wrapper {
    text-align: center;
}

.components-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div:first-child {
    margin-bottom: 1rem;
}